@import "../../styles/colours.scss";

.technologies {
	width: 100%;
}
.lang-overview {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 3em;

	img {
		margin: 1.5em;
		transition: 0.3s ease-in-out;
	}
	p {
		color: $light-purple;
		font-family: "Krona One", sans-serif;
		font-size: 14px;
	}
}
