@import "../../styles/colours.scss";

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 0 3em 0;
}
h3 {
	background: linear-gradient(180deg, #ffffff 2.26%, $light-purple 50.01%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 1em;
	margin: 0.5em 0;
	font-size: 20px;
	color: $light-purple;
	z-index: 100;
	font-family: "Krona One", sans-serif;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		bottom: -4px;
		left: -0.8em;
		height: 2em;
		width: 2em;
		border-top: 2px solid $light-purple;
		border-left: 2px solid $light-purple;
		border-radius: 50%;
		z-index: -20;
	}
}

@media screen and (max-width: 750px) {
	h3 {
		font-size: 18px;
		margin: 0.5em;
	}
}

@media screen and (max-width: 550px) {
	h3 {
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	h3 {
		font-size: 12px;
	}
}
