@import "../../styles/colours.scss";

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	border-top: 1px solid $light-purple;
	position: relative;
}
h3 {
	background: linear-gradient(180deg, #ffffff 2.26%, $light-purple 50.01%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 1em;
	font-size: 32px;
	position: absolute;
	top: -50px;
	left: 50%;
	background-color: rgba(3, 0, 22, 0.8);
	z-index: 100;
	font-family: "Alegreya Sans SC", sans-serif;
	font-family: "Kanit", sans-serif;
	font-family: "Krona One", sans-serif;
}

@media screen and (max-width: 750px) {
	h3 {
		font-size: 24px;
		margin: 0.5em;
	}
}
