@import "../../styles/colours.scss";

.about-container {
	color: $white;
	padding: 3em;
	width: 100%;
	font-size: 20px;
	letter-spacing: 10;
	text-align: justify;

	h4 {
		color: $light-purple;
		font-family: "Ephesis", cursive;
		font-size: 40px;
	}
	.about-icon {
		display: flex;
	}
	.resume {
		transition: 0.3s ease-in;
		color: $light-purple;
		&:hover {
			color: $light-gray;
		}
	}

	p {
		font-family: "Kanit", sans-serif;
		&:last-of-type {
			display: flex;
			align-items: center;
		}
	}
}

@media screen and (max-width: 500px) {
	.about-container {
		padding: 1.5em;
	}
}
